@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.container{
    width: 400px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px;
}
span{
    color: grey;
    font-size: 12px;
    font-weight: 600;
}
.imagecontainer{
    margin: 5px auto;
    width: 50%;
    min-width: 170px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}
image{
    width: 100%;
    height: 100%;
}
